    <h3>Log in with Facebook, Linkedin, or Twitter</h3>
    <div id="social-signin" class="center">
      <a href="#"><%=image_tag 'trans.png', class: 'twitter' %></a>
      <a href="#"><%=image_tag 'trans.png', class: 'facebook' %></a>
      <a href="#"><%=image_tag 'trans.png', class: 'linkedin' %></a>
    </div>
    <h3>Sign up through email</h3>
    <div style="padding-left: 55px">
      <%= render 'user' %>
</div>




